<div class="mat-elevation-z8">

  <div *ngIf="loading" class="loading-indicator">
      <mat-spinner></mat-spinner>
  </div>

  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let course">{{course.id}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- CourseId Column -->
      <ng-container matColumnDef="courseId">
          <th mat-header-cell *matHeaderCellDef>Course id</th>
          <td mat-cell *matCellDef="let course">{{course.courseId}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="courseName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let course">{{course.courseName}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- content Column -->
      <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>content</th>
          <td mat-cell *matCellDef="let course">{{course.content}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- lecturer Column -->
      <ng-container matColumnDef="lecturer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>lecturer </th>
        <td mat-cell *matCellDef="let course">{{course.lecturer}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

     

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>